<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  Este es un proyecto para crear un libro por medio de un Tutorial en Linea de desarrollo Web con <a href="http://rubyonrails.org/">Ruby on Rails</a>. This
 Esta es una aplicacion de ejemplo del tutorial.
</p>
