<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Obtenga ayuda de RAILS TUTORIAL en: 
  <a href="http://railstutorial.org/help">Pagina de ayuda de Rails Tutorial</a>.
  Para obtener la ayuda en este ejemplo ver: 
  <a href="http://railstutorial.org/book">Libro de: Rails Tutorial</a>.
</p>
