
<div class="center hero-unit">
  <h1>Sample App</h1>
  <h2>Welcome to Oblivion's</h2>

  <h2>
    Esta es la página de Inicio de 
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    Oblivion's
  </h2>

  <%= link_to "Registrate Ahora!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
